.header{
    background-image: linear-gradient(rgba(0,128,0,0.01),grey),url("1cd441e409481d9368a2276e859735f7ff98.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1{
    text-align: center;
    padding-top: 200px;
    color: white;
    font-size: 50px;
}
h2{
    text-align: center;
    padding-top: 100px;
    color: red;
    font-size: 25px

}
h3{
    text-align: center;
    padding-top: 100px;
    color: red;
}
h4{
    text-align: center;
    padding-top: 100px;
    color: red;
}
.buttons{
    text-align: center;
    color: aliceblue;
    margin: 10 10px;
    font-size: 25px;
}
.buttons a span{
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    position: absolute;
    transition: 0.5 ;
}
.buttons a{
    border: 5px solid white;
    padding: 10 0px;
    width: 200px;
    display: inline-block;
    margin: 0 10px;
    z-index: 1;
    position: relative;
    transition: color 0.5 3s;
}
#sub{
    color: red;
}
.EM img{
    height: 250px;
    margin: 100px;
}
p{
    font-size: larger;
}
.buttons a:hover span{
    width: 100%;
}
.buttons a:hover{
    color: red;
}
#deforestation{
    height: 400px;
    float: left;
    margin-right: 30px;
}
#climate{
    height: 250px;
    float: right;
    margin-left: 30px;
}
#one{
    height:300px;
    margin-left: 30px;
}

#onne{
    padding-top: 30px;
    font-size: large;

}

#twwo{
    padding-top: 30px;
    font-size: large;
}

#threee{
    padding-top: 30px;
    font-size: large;
    position: absolute;
    transition: 0.5 ;
}

#list li{
    color:red;
    display: inline-block;
    width: 33%;
}
#airo{
    text-align:left ;
}
#old{
    height:250px;
    margin-left:100px;
}

